.company {
    height: 100vh;
    overflow-y: auto;

    &-name {
        background-color: white;
        padding: 8px;
        margin-top: 16px;
        margin-bottom:16px;

        border: 1px solid;
        border-color: gray;
        border-radius: 4px;
    }
}